extend layout

block content
  #navi go!

  .section
    .hero-unit
      h1 lammycakes 2012
      p
        | help lammycakes (nickname: alex|xan lam) celebrate his birthday!<br>
        | bookmark it, it's november 13th.  
    .row-fluid
      .span4
        h2 1. pledge money
        p.main donate $5, $10, $20, $1M - any amount of dollars to the lammycakes fund.  this fund will be used to buy lammycakes a well deserved birthday present.  and some booze.  maybe more booze than a present. 
      .span4
        h2 2. choose date
        p.main let's have a party.  you're invited.  just vote for a day, and show up.  and maybe offer a venue and a car.  because i have neither of those.
      .span4
        h2 3. paaarrty!
        p.main 'nuff said <3

  .row-fluid.section
    .span3
      #description 
        h2 why?
        | lammycakes is a huge fan of nanami cowdroy (<a href="http://www.nanamicowdroy.com">with good reason</a>) and have been drooling over her laser-etched n-deck series for quite a while.<br>
        | now, the n-decks may be a bit too ambitious (a whoppinng $600), but perhaps we can get some other things from her store (:<br>
        | all copyright to nanami cowdroy! <br><br>
        | suggestions for better gift ideas <a href="mailto:shirleyxueyangwu@gmail.com">always welcome</a>.
      #pledge
        h2 coolbeans!!<br>lemme pledge <3
        #inputs
          input(type="text", class="input-large", id="pledgename", placeholder="name")
          .input-prepend.input-append
            | <span class="add-on">$</span><input class="input-medium" type="text" id="pledgeamout" placeholder="1,000,000"><span class="add-on">.00</span>
          input(type="text", class="input-large", id="pledgeemail", placeholder="email")
          .btn pledge!

    .span8#gifts
      h1#pledgetotal currently pledged: <span id="total">$#{totalpledged}</span>
      each gift in gifts
        .row-fluid.gift(id="#{gift["id"]}")
          .span3.giftpic
            img(src=gift["img"], class="pic")
          .span9.giftdesc
            .header
              | <h2><a href="#{gift["url"]}" target="_blank">#{gift["name"]}</a></h2>
              span.upvotes #{gift["upvotes"]} upvotes
              i.icon-arrow-up
            .content
              - if (totalpledged < gift["price"])
                span.pledged(style="width: #{totalpledged}px;")
              - else
                span.pledged(style="width: #{gift["price"] + 1}px;")
              span.totalprice(style="width: #{gift["price"]}px; ")
              span.price(style="margin-left: #{gift["price"]}px;") $#{gift["price"]}
              - if (totalpledged >= gift["price"])
                .alert.alert-success <h4>goal reached with $#{totalpledged - gift["price"]} left for booze <3</h4>
              - if (gift["desc"])
                .desc <h4>some detail and shizjazz:</h4> #{gift["desc"]}


  .row-fluid.section
    .span8#dates
      h1 choose any dates you can make, please (:
      p the saturdays are 3PM so that we can have the whole venue to ourselves.<br>  <strong>thalassa</strong> is a pool bar that is ridiculously crowded on weekend nights, <br>but nicely empty in the afternoons, so we should take advantage~
      p (unless you want to <a href="mailto:shirleyxueyangwu@gmail.com">offer up a venue</a> :D)
      - var i = 0
      each date in dates
        .date
          svg(data=pie[i])
            - i += 1
            g
              text.date=date["date"]
              text.time=date["time"]
              text.rsvp
          .females
            - for(i = 0; i < date.female.length + 1; i += 1)
              - if(i%5 == 0)
                br
              img(src="images/girl.png")
          .males
            - for(i = 0; i < date.male.length + 1; i += 1)
              - if(i%5 == 0)
                br
              img(src="images/boy.png")
    .span3
      .header <h2>venue</h2>
      img#thalassa(src="images/thalassa.jpg")
      h3 thalassa
      p 2367 Shattuck Ave <br> (between Channing Way & Durant Ave) <br> Berkeley, CA 94704
      p <a href="http://www.yelp.com/biz/thalassa-berkeley" target="_blank">yelp</a>
        

  script(src="javascripts/lammy.js")
    
    